*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'arenta';
    src: url(arenta.otf);
}
body
{
    background-color: #0a0a0a;
    color: #fafafa;
    font-family: 'arenta';
    height: 100%;
}

header
{
    height: 60px;
    width: 100%;
    background-color: #0a0a0a;
    padding: 10px;
    box-shadow: 0px 1px 10px #fafafa;
    display: flex;
    flex-direction: row;justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    top: 0px;
}

#head1
{
    color: #fafafa;
}

#head0
{
    color: #fafafa;
    margin-left: 20px;
}

#ham
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#ham #span1
{
    height: 3px;
    width: 30px;
    background-color: #fafafa;
    border-radius: 10px;
    transition: 0.2s ease-in 30ms;
}

#ham #span3
{
    height: 3px;
    width: 30px;
    background-color: #84d07d;
    border-radius: 10px;
    transition: 0.2s ease-in 30ms;
}

.change #span1
{
    transform: rotate(-45deg) translate(-4px, 2px);
}
.change #span3
{
    transform: rotate(45deg) translate(-2px, -2px);
}
.change #span2
{
    display: none;
}

#navIt
{
    display: none;
    background-color: #fafafa;
    color: #0a0a0a;
    z-index: 999;
    padding: 20px 20px;
    margin: 100px 20px 20px 20px;
    border-radius: 10px;
    height: 60%;
}

.navIt1
{
    font-size: 16px;
    text-align: center;
    border: 1px dashed #0a0a0a;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 5px;
}

.navIt2
{
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin-top: 20px;
}
.look2
{
    margin-top: 30px;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    border-top: 1px solid #0a0a0a91;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#main
{
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
}

.hero
{
    width: 100%;
    margin: 0 auto;
    background-color:#fafafa;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 30px;
    color: #0a0a0a;
    height: 40%;
    margin-top: 30px;
    font-weight: bold;
}

#head3
{
    font-size: 12px;
    padding: 10px;
}

#game1
{
    text-align: center;
    font-size: 18px;
}

#head2
{
    font-size: 18px;
    text-align: center;
    padding-bottom: 20px;
}

#joke
{
    font-size: 14px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}

@keyframes bounce1 {
	0%, 100%, 20%, 50%, 80% {
		transform:         translateY(0)
	}
	40% {
		transform:         translateY(-10px)
	}
	60% {
		transform:         translateY(-5px)
	}
}

#myBtn
{
    padding: 10px 25px;
    background-color: rgb(4, 202, 4);
    font-family: 'arenta';
    color: #fafafa;
    border: none;
    border-radius: 2px;
    display: block;
    margin: 0 auto;
    animation: 1s ease-in-out 20ms;
    margin-top: 18px;
    box-shadow: 1px 0px 3px #fafafa;
}

#myBtn:hover
{
    animation-name: bounce1;
    cursor: pointer;
    background-color: rgb(5, 170, 5);
}

.fun
{
    color: #a7ffa4;
    font-size: 12px;
    margin-top: 20px;
    border-top: 1px solid #5e785d;
    padding: 10px;
}

#copyright
{
    border-top: 1px solid #5e785d;
    font-size: 10px;
    text-align: center;
    padding: 10px;
}

@media only screen and (min-width: 800px)
{
    body {
        height: 100%;
    }
    header
    {
        height: 100px;
        width: 100%;
        background-color: #0a0a0a;
        padding: 10px;
        box-shadow: 0px 2px 20px #fafafa;
        display: flex;
        flex-direction: row;justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        z-index: 1;
        position: fixed;
        top: 0;
    }

    #logo
    {
        margin-left: 5%;
    }

    #head1
    {
        color: #fafafa;
        font-size: 26px;
    }

    #head0
    {
        color: #71ce69;
        margin-left: 50px;
        font-size: 26px;
    }
    #ham
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        height: 50px;
        width: 60px;
        margin-right: 5%;
        cursor: pointer;
    }

    #ham #span1
    {
        height: 4px;
        width: 40px;
        background-color: #fafafa;
        border-radius: 10px;
        transition: 0.2s ease-in 30ms;
    }

    #ham #span3
    {
        height: 4px;
        width: 40px;
        background-color: #71ce69;
        border-radius: 10px;
        transition: 0.2s ease-in 30ms;
    }

    .change #span1
    {
        transform: (-47deg) translate(-5px, 3px);
    }
    .change #span3
    {
        transform: rotate(44deg) translate(-3px, -4px);
    }
    .change #span2
    {
        display: none;
    }

    #navIt
    {
        display: none;
        background-color: #fafafa;
        color: #0a0a0a;
        z-index: 3;
        padding: 20px;
        width: 90%;
        margin: 0 auto;
        border-radius: 10px;
        height: 60%;
        transition: width 500ms ease;
        margin-top: 150px;
    }

    .navIt1
    {
        font-size: 20px;
        text-align: center;
        border: 1px dashed #0a0a0a;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
    }

    .navIt2
    {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        margin-top: 40px;
        padding: 50px;
    }

    .look2
    {
        margin-top: 70px;
        font-size: 14px;
        text-align: center;
        padding: 2px;
        border-bottom: 1px dashed #0a0a0a;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        display: none;
    }

    #main
    {
        width: 90%;
        margin: 0 auto;
        margin-top: 150px;
        z-index: 1;
    }

    .hero
    {
        width: 100%;
        background-color:#fafafa;
        text-align: center;
        padding: 20px;
        color: #0a0a0a;
        height: 60%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #lock
    {
        width: 150px;
        height: 150px;
        filter: blur(0.6px);
    }

    #head3
    {
        font-size: 20px;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 20px;
    }

    #head2
    {
        font-size: 26px;
        text-align: center;
        margin-top: 30px;
    }

    #joke
    {
        font-size: 20px;
        margin: 20px 4% 30px 4%;
    }

    @keyframes bounce1 {
        0%, 100%, 20%, 50%, 80% {
            transform:         translateY(0)
        }
        40% {
            transform:         translateY(-10px)
        }
        60% {
            transform:         translateY(-5px)
        }
    }

    #myBtn
    {
        padding: 20px 40px;
        background-color: rgb(4, 202, 4);
        font-family: 'arenta';
        color: #fafafa;
        border: none;
        border-radius: 2px;
        display: block;
        margin: 0 auto;
        animation: 1s ease-in-out 20ms;
        margin-top: 30px;
        box-shadow: 1px 0px 3px #fafafa;
    }

    #myBtn:hover
    {
        animation-name: bounce1;
        cursor: pointer;
        background-color: rgb(5, 170, 5);
    }

    .fun
    {
        color: #a7ffa4;
        font-size: 14px;
        margin-top: 50px;
        padding: 10px;
    }

    #copyright
    {
        border-top: 1px solid #5e785d;
        font-size: 15px;
        text-align: center;
        padding: 10px;
    }

    #img1
    {
        width: 200px;
        height: 200px;
    }
}